beautifulsoup4==4.6.3
blinker==1.4
bs4==0.0.1
docutils==0.14
feedgenerator==1.9
ghp-import==0.4.1
Jinja2==2.10
Markdown==2.6.5
MarkupSafe==1.1.0
pelican==4.0.0
Pygments==2.3.0
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.23
